@import "tailwindcss";

@font-face {
  font-family: "DM Sans";
  src: url("/assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bricolage Grotesque";
  src: url("/assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-heading: "Bricolage Grotesque", sans-serif;
}

@layer base {
  html {
    background-color: #080f20;
    color-scheme: dark;
  }

  body {
    margin: 0;
    min-height: 100vh;
    background-color: #080f20;
  }

  body {
    @apply font-sans;
  }
}